body{
    background-color: #f0f9ff;
}

header {
    text-align: center;
}

h1 {
    background-color:#ccfbf1;
    color: #0f766e;
}

h3{
    background-color: #e0f2fe;
}

a {
    text-decoration: none;
    color:#0369a1;
    font-size: 18px;
}

a:hover {
    background-color:#007ac0;
    color: white;
}

section {
    background-color: white;
}

img {
    display: block;
    margin: 0 auto;
    width: 800px;
}

h2 {
    color: #155e75;
}

li:hover {
    color: #1e40c1;
    background-color: #dbeafe;
}


footer {
   background-color: #0f766e;
   color: white;
   text-align: center;
}

footer p {
    margin: 5px;
}

th {
    background-color: #bae6fd;
    color: #075985;
}

td {
    background-color: white;
}

tr:hover td {
    background-color: #e6f7ff;
}

form {
    background-color: white;
    text-align: center;
    font-size: 18px;
    font-weight:bold;
}

.font {
    font-size: 18px;
}

button {
    color: white;
    background-color: #0ea5a4;
    font-weight: bold;
    font-size: 20px;
}

button:hover {
    background-color: #076363b8;
}